@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400|Raleway:300,400,500,600,700");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(img/header-bcgr.png) no-repeat;
  background-color: #464540;
}

.header__side {
  width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__arrow {
  min-height: 50px;
  min-width: 50px;
  border: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header__arrow_right {
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.header__arrow_right:hover {
  border-top-color: #c7b299;
  border-right-color: #c7b299;
}

.header__arrow_left {
  border-top-color: transparent;
  border-right-color: transparent;
}

.header__arrow_left:hover {
  border-bottom-color: #c7b299;
  border-left-color: #c7b299;
}

.header__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 40px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__index-link {
  display: inline-block;
  margin-right: auto;
}

.logo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 200px;
  background: url(img/logos.png) no-repeat;
  padding-left: 64px;
  min-height: 56px;
  padding-top: 10px;
}

.logo__text {
  vertical-align: middle;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 34px;
  font-weight: 400;
  line-height: normal;
}

.header__menu {
  width: 696px;
}

.menu__link {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.menu__link:hover {
  color: #c7b299;
}

.menu__item {
  display: inline-block;
  padding: 0 13px;
}

.header__cart {
  display: inline-block;
  height: 24px;
  width: 18px;
  background-image: url(img/icon-cart-min.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 15px;
}

.header__search {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  width: 0px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  -webkit-transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  padding-left: 15px;
}

.header__search-label {
  cursor: pointer;
}

::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: rgba(255, 255, 255, 0.5);
}

::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: rgba(255, 255, 255, 0.5);
}

:-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: rgba(255, 255, 255, 0.5);
}

:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: rgba(255, 255, 255, 0.5);
}

.header__search:focus {
  width: 100px;
  z-index: 1;
  border-bottom: 1px solid #F9F0DA;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 872px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 65px;
}

.slider__slogan {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  line-height: 65px;
}

.slider__title {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 1px;
}

.slider__text {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  max-width: 560px;
  letter-spacing: 0.5px;
}

.link-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  background-color: #998675;
  height: 50px;
  width: 170px;
  border-radius: 3px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.link-btn:hover {
  -webkit-box-shadow: inset 0 0 100px hsla(0, 0%, 0%, .2), inset 0px 1px 0px #666, inset 0px 2px 0px #555, inset 0px 3px 0px #444, inset 0px 4px 0px #333, inset 0px 5px 4px #001135;
  box-shadow: inset 0 0 100px hsla(0, 0%, 0%, .2), inset 0px 1px 0px #666, inset 0px 2px 0px #555, inset 0px 3px 0px #444, inset 0px 4px 0px #333, inset 0px 5px 4px #001135;
  padding-top: 5px;
}

.link-btn__text {
  margin: auto;
  text-transform: uppercase;
}

.slider__switch {
  display: none;
}

.slider__btns {
  text-align: center;
}

.slider__switch-btn {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  margin: 0 3px;
}

.slider__switch:checked + .slider__switch-btn {
  border: 2px solid #d3c1ad;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  width: 15px;
  height: 15px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__item {
  height: 290px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 80px;
  margin-bottom: 80px;
  cursor: pointer;
}

.services__icon {
  height: 52px;
  width: 52px;
  margin: 0 auto;
  margin-bottom: 29px;
}

.icon__design {
  background: url(img/spritesheet.png) -8px -8px no-repeat;
}

.icon__development {
  background: url(img/spritesheet.png) -70px -3px no-repeat;
}

.icon__customization {
  background: url(img/spritesheet.png) -131px -5px no-repeat;
}

.icon__marketing {
  background: url(img/spritesheet.png) -192px 0 no-repeat;
}

.services__caption {
  font-family: "Raleway", sans-serif;
  color: #555555;
  font-size: 22px;
  font-weight: 600;
  display: block;
  padding-bottom: 10px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.services__depiction {
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 33px;
}

.services__line {
  background-color: #f1eee9;
  width: 70px;
  height: 3px;
  margin: 0 auto;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.services__item:hover .services__caption {
  color: #c7b299;
}

.services__item:hover .services__line {
  background-color: #c7b299;
}

.services__item:hover .icon__design {
  background: url(img/spritesheet.png) -259px -8px no-repeat;
}

.services__item:hover .icon__development {
  background: url(img/spritesheet.png) -322px -3px no-repeat;
}

.services__item:hover .icon__customization {
  background: url(img/spritesheet.png) -382px -5px no-repeat;
}

.services__item:hover .icon__marketing {
  background: url(img/spritesheet.png) -444px 0 no-repeat;
}

.advert {
  background-color: #fbfaf8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advert__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 1230px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(img/browser-left-min.png) left bottom no-repeat, url(img/browser-right-min.png) right bottom no-repeat;
  padding-top: 80px;
}

.advert__title {
  font-family: "Raleway", sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 24px;
}

.advert__text {
  max-width: 757px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  padding-bottom: 40px;
}

.advert__picture {
  max-height: 482px;
  max-width: 770px;
}

.advert__purchase {
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  opacity: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.purchase__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 48px 0;
}

.purchase__title {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 8px;
}

.purchase__title_brown {
  color: #c7b299;
}

.purchase__text {
  font-family: "Montserrat", sans-serif;
  color: #615855;
  font-size: 18px;
  font-weight: 300;
}

.purchase__link {
  text-transform: uppercase;
}

.advert:hover .advert__purchase {
  opacity: 1;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.projects__title {
  font-family: "Raleway", sans-serif;
  color: #555555;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 24px;
}

.projects__text {
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  max-width: 750px;
  text-align: center;
  margin-bottom: 50px;
}

.projects__menu {
  display: flex;
}

.projects__link {
  padding: 10px 25px;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.projects__link:hover {
  color: #fff;
  background-color: #998675;
}

.projects__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects__post {
  width: 370px;
  height: 337px;
  margin: 15px 0;
}

.post__icons {
  display: flex;
  height: 237px;
}

.post__link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, .6);
  opacity: 0;
  transition: .2s linear;
}

.post__link:first-child {
  justify-content: flex-end;
}

.post__link-img {
  padding: 0 12px;
}

.icons__bg-1 {
  background-color: #362f2d;
  background: url(img/bg-1.png) no-repeat;
}

.icons__bg-2 {
  background-color: #362f2d;
  background: url(img/bg-2.png) no-repeat;
}

.icons__bg-3 {
  background-color: #362f2d;
  background: url(img/bg-3.png) no-repeat;
}

.icons__bg-4 {
  background-color: #362f2d;
  background: url(img/bg-4.png) no-repeat;
}

.icons__bg-5 {
  background-color: #362f2d;
  background: url(img/bg-5.png) no-repeat;
}

.icons__bg-6 {
  background-color: #362f2d;
  background: url(img/bg-6.png) no-repeat;
}

.post__description {
  padding: 30px;
  transition: .2s linear;
}

.post__title {
  font-family: "Raleway", sans-serif;
  color: #c7b29a;
  font-size: 20px;
  font-weight: 500;
}

.post__text {
  font-family: "Montserrat", sans-serif;
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding-top: 14px;
}

.projects__post:hover .post__link {
  opacity: 1;
}

.projects__post:hover .post__description {
  background-color: #362f2d;
}